body {
    background-color: #f6f6f6;
    padding: 0;
    font-family: brandon-grotesque, Helvetica Neue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*===========slide============*/
#slideshow-container {
    width: 100%;
    display: block;
    position: relative;
}

.slide {
    position: relative;
    width: 100%;
    overflow: auto;
}

.img-front {
    width: 100%;
    opacity: 90%;
}

/*===========front shape============*/

#front-shape {
    position: absolute;
    left: 30%;
    top: 13%;
    width: fit-content;
    height: 420px;
    text-align: center;
}

#img-round {
    width: 310%;
}

.front-text {
    position: absolute;
    text-align: center;
    left: 10%;
    top: 18%;
    width: max-content;
    height: fit-content;
}

.front-text h3 {
    font-size: 1.4rem;
    color: white;
    position: relative;
    float: left;
    margin: 0 0 0 6%;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
}

/*====I,m====*/
.front-text h3 span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3a0088;

}

/*udith dilshan*/
.front-text h1 {
    float: top;
    margin: 0;
    font-size: 5rem;
    text-shadow: 2px 2px #e0ebe8;
    letter-spacing: 2px;
    color: #00204a;
    font-weight: bold;
    font-family: 'Caveat', cursive;
}

/*====+====*/
.plus {
    text-shadow: none;
    display: block;
    font-family: 'Pacifico', cursive;
}

/*all span*/
span {
    font-weight: normal;
    width: 1rem;
    color: #e0ebe8;
    font-size: 2rem;
}

/*final +*/
.front-text h1 span {
    clear: right;
}

/*a software developer*/
.front-text h2 {
    float: top;
    margin: 0 0 0 20%;
    font-size: 2.5rem;
    color: #00204a;
    font-weight: bold;
    font-family: 'Caveat', cursive;
}

/*);*/
.front-text h2 span {
    font-family: 'Sacramento', cursive;
}

/*===========nav============*/
#header {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    border: 0;
    margin: 0;
    padding: 25px 0;
    z-index: 1;
}

#menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0 auto 0 auto;
    width: fit-content;
    overflow: hidden;
    top: 0;
    padding: 0;

}

#menu ul li {
    float: left;
}

#menu ul li a {
    padding: 0 1rem 0;
    margin: 0 1rem 0;
    display: block;
    font-size: 1.2rem;
    color: #63b7af;
    text-align: center;
    text-decoration: none;
}

/*===========nav end============*/

/*===========section============*/
#section {
    margin: 0;
}

/*=============profile=============*/
#profile {
    padding: 15% 0 5% 0;
    width: 100%;
}

#profile .container {
    margin: 0;
    width: 100%;
    text-align: center;
}

#profile .container img {
    width: 23%;
}

#profile .container h1 {
    font-size: 3rem;
    color: #11999E;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

#intro {
    width: 50%;
    margin: auto;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.09rem;
    font-family: serif;
    color: #52616b;
    font-size: 1.4rem;
}

/*=============hr=============*/

hr {
    width: 7%;
    border-style: none none dotted;
    border-bottom-width: 0.7rem;
    border-bottom-color: #4d4545;
}

/*=============skills=============*/
#skills {
    padding: 10% 0 5% 0;
    width: 100%;
    margin-bottom: 2%;
}

#skills .container {
    margin: 0;
    width: 100%;
}

#skills .container h1 {
    text-align: center;
    font-size: 3rem;
    color: #11999e;
    font-family: sans-serif;
    font-weight: normal;
}

/*=============design=============*/
#design {

    margin: 8% 20% 0;
    width: fit-content;
    height: 250px;
}

#design img {
    width: 30%;
    padding: 0;
    border-style: outset;
    border-width: 5px;
    border-color: #11999e;
    float: left;
}

#design div {
    line-height: 2;
    margin: 1% 0 0 40%;
    width: fit-content;
    padding-top: 1%;
}

#design div h3 {
    text-align: left;
    font-size: 2.5rem;
    color: #11999e;
    line-height: 1.1;
    width: fit-content;
    font-family: 'Caveat', cursive;
    font-weight: 500;
}

#design div p {
    text-align: left;
    font-size: 1.5rem;
    color: #52616b;
    width: fit-content;
    line-height: 1.1;
    font-family: serif;
    font-weight: 500;
}

/*=============develop=============*/
#develop {
    clear: left;
    margin: 5% 20% 0;
    width: fit-content;
    height: 250px;
}

#develop img {
    border-style: inset;
    border-width: 5px;
    border-color: #30e3ca;
    width: 30%;
    padding: 0;
    float: right;
}

#develop div {

    line-height: 2;
    width: 70%;
    padding: 1% 0 0 0;
}

#develop div h3 {
    text-align: left;
    font-size: 2.5rem;
    color: #11999e;
    line-height: 1.1;
    width: fit-content;
    font-family: 'Caveat', cursive;
    font-weight: 500;
}

#develop div p {
    text-align: left;
    font-size: 1.5rem;
    color: #52616b;
    width: fit-content;
    line-height: 1.1;
    font-family: serif;
    font-weight: 500;
}

/*=============experience=============*/
#experience {
    text-align: center;
    margin: 5% 0 0;
    padding: 0;
    width: 100%;
}

#experience h3 {
    margin: 0 auto 5% auto;
    text-align: center;
    font-size: 2.5rem;
    color: #11999e;
    line-height: 1.1;
    width: fit-content;
    font-family: 'Caveat', cursive;
    font-weight: 500;
}

.lang {
    font-size: 1.2rem;
    padding: 2%;
    margin: 0;
    text-align: left;
    width: fit-content;
}

.set-1 {
    box-sizing: border-box;
    text-align: left;
    width: 40%;
    padding: 0;
    float: right;
    margin-right: 5%;
}

.set-2 {
    width: 40%;
    padding: 0;
    margin-left: 5%;
}

.scale {
    width: 100%;
    height: 18px;
    border: 10px;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px #071a52;
}

#skill-java {
    box-sizing: border-box;
    width: 90%;
    background-color: #00b8a9;
}

#skill-html {
    box-sizing: border-box;
    width: 60%;
    background-color: #00b8a9;
}

#skill-sql {
    box-sizing: border-box;
    width: 80%;
    background-color: #00b8a9;
}

#skill-php {
    box-sizing: border-box;
    width: 20%;
    background-color: #00b8a9;
}

#skill-js {
    box-sizing: border-box;
    width: 20%;
    background-color: #00b8a9;
}

#skill-css {
    box-sizing: border-box;
    width: 40%;
    background-color: #00b8a9;
}

/*=============work=============*/
#work {
    margin: 0;
    padding-top: 12%;
    width: 100%;
    text-align: center;
}

#work h1 {
    text-align: center;
    font-size: 3rem;
    color: #11999e;
    font-family: sans-serif;
    font-weight: normal;
}

#work p {
    text-align: center;
    width: 100%;
    margin: 5% auto 5%;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.09rem;
    font-family: serif;
    color: #52616b;
    font-size: 1.4rem;
}

/*=============work Grid=============*/
#grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5% 5%;
    margin: 4% 2% 4% 2%;
    width: auto;
    line-height: 3;
}

.grid-item {
    position: relative;
    background-position: bottom;
    padding: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-style: inset;
    border-width: 3px;
    border-color: #086972;
}

.grid-item-1 {
    width: 100%;
    height: auto;
}

.grid-item-2 {
    width: 100%;
    height: auto;

}

.grid-item-3 {
    width: 100%;
    height: auto;
}

.grid-img-1 {
    width: 90%;
    height: initial;
    display: block;
    margin: auto;
}

.grid-img-2 {
    width: 82%;
    height: inherit;
    display: block;
    margin: auto;
}

.grid-img-3 {
    width: 98%;
    height: inherit;
    display: block;
    margin: auto;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    margin: 0;
    background: rgb(0, 0, 0);
    background: rgba(8, 105, 114, 0.8);
    color: #e0ebe8;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    font-size: 1.2rem;
    text-align: center;
}

.grid-item-1:hover .details-1 {
    opacity: 1;
    background: rgba(8, 105, 114, 0.8);
}

.grid-item-2:hover .details-2 {
    opacity: 1;
    background: rgba(8, 105, 114, 0.8);
}

.grid-item-3:hover .details-3 {
    opacity: 1;
    background: rgba(8, 105, 114, 0.8);
}

/*=============Contact me=============*/
#contact-me {
    margin: 0;
    width: 100%;
    padding-top: 15%;
    height: fit-content;
}

#contact-me h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #11999e;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 5%;
}

#contact-me p {
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.09rem;
    font-family: serif;
    color: #52616b;
    font-size: 1.4rem;
}

/*=============Contact form=============*/

#contact-form {
    text-align: left;
    padding: 5% 0 0;
}

#contact-form label {
    color: #1a3c40;
    font-size: 1.05rem;
    font-family: sans-serif;
}

input, textarea {
    width: 98%;
    padding: 0.8%;
    border: 1px solid #00b8a9;
    border-radius: 4px;
    resize: vertical;
    margin: 1% 0 3%;

}

#contact-form div {
    width: available;
    padding: 0 2% 0;
}

#f-name {
    width: 45%;
}

#email {
    width: 40%;
}

#message {
    height: 100px;
}

#submit {
    width: 12%;
    float: right;
    margin: 0 5%;
    border-radius: 10px;
    background-color: #11999E;
    padding: 8px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(#3D94F6, #1E62D0);
}

#submit:hover {

}

/*=============Footer=============*/
footer {
    margin: 8% 0 0 0;
    padding: 0;
    width: 100%;
    background-color: #95a792;
    text-align: center;
}

#links {
    margin: 0;
    padding: 2% 0 0;
    background-color: #95a792;
    width: fit-content;
}

#links a{
    text-decoration: none;
}

#links a img {
    width: 3.5%;
    margin: 0 3%;
}

#copy {
    margin: 0;
    padding: 1% 0 0;
    background-color: #95a792;
}

#copy p {
    color: #e0ebe8;
}

#copy p a {
    color: #000000;
}
